<!DOCTYPE html>
<html lang="en" ng-app="sendHubApp">
<head>
	<title>SendHub Coding Challenge</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/sendHubApp.js"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/factories.js"></script>
	<script src="/javascripts/controllers.js"></script>
</head>
<body>
	<div class="container">
		<div class="row" ng-controller="contacts">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="row">
						<div class="col-xs-12">
							<h2 ng-hide="editing">Create a Contact</h2>
							<h2 ng-show="editing">Edit {{ recipient }}</h2>
							<p class='success' ng-bind="conStatus"></p>
							<p class="errors" ng-repeat="error in errors track by $index" ng-bind="error"></p>
							<div class="col-xs-12">
								<form id="contactForm" class="form-horizontal" role="form">
									<div class="form-group">
										<input ng-model="new_contact.contact_name" class="form-control" type="text" name="contact_name" placeholder="Name">
									</div>
									<div class="form-group">
										<input ng-model="new_contact.phone_number" class="form-control" type="number" name="phone_number" placeholder="Phone Number">
									</div>
									<div id="action_buttons" class="form-group" ng-hide="editing">
										<button class="btn btn-primary" ng-click="newContact()">Create</button>
									</div>
									<div id="action_buttons" class="form-group" ng-show="editing">
										<button class="btn btn-primary" ng-click="updateContact()">Update</button>
										<button class="btn btn-warning" ng-click="cancelUpdate()" ng-click="status.open = !status.open">Cancel</button>
										<button class="btn btn-danger pull-right" ng-click="deleteContact()">Delete</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<div class="row">
						<h3>Contacts:</h3>
						<div id="contacts_wrapper" class="col-xs-12">
							<accordion close-others="oneAtATime">
								<accordion-group heading="{{ contact.name }}" ng-repeat="contact in contacts track by $index | filter: new_contact.contact_name | filter: new_contact.phone_number">
								<accordion-heading>
									<a class="contact_header" ng-click='selectContact(contact, $index)'><span ng-bind="contact.name"></span></a>
								</accordion-heading>
									<h3 class="contact_name"><span ng-bind="contact.name"></span></h3>
									<p class="phone_number"><span ng-bind="contact.number"></span></p>
								</accordion-group>
							</accordion>
						</div>
					</div>
				</div>
				<div id="messageSection" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h3>Send Message</h3>
					<div ng-repeat="msgErr in messageError track by $index">
						<p class="noContactSelectedError errors" ng-bind="msgErr"></p>
					</div>
					<div class="col-xs-12">
						<div class="form-group">
							<p>To: {{ recipient }}</p>
							<p ng-bind="recipientPhoneNumber"></p>
						</div>
						<form class="form-horizontal" role="form">
							<input type="hidden" name="id" id="recipientID" ng-bind="recipientID">
							<div class="form-group">
								<textarea  ng-model="new_message.text_message" class="form-control" type="text" name="text_message" placeholder="Type message here..."></textarea>
							</div>
							<div class="form-group">
								<p class="success" ng-bind="msgStatus"></p>
								<button id="sendMessage" class="btn btn-primary" ng-click="sendMessage()">Send</button>
							</div>
						</form>
					</div>
				</div>
				<div class="hidden">
					<button id="noContactSelected" ng-click="noContactSelected()"></button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>