<h2>Edit Contact</h2>
<p class="error" ng-repeat="error in errors" ng-bind="error.message"></p>
<div class="col-xs-12">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<input ng-model="new_contact.contact_name" class="form-control" type="text" name="contact_name" placeholder="Name">
		</div>
		<div class="form-group">
			<input ng-model="new_contact.phone_number" class="form-control" type="number" name="phone_number" placeholder="Phone Number">
		</div>
		<div id="action_buttons" class="form-group">
			<button class="btn btn-primary" ng-click="updateContact()">Edit</button>
			<button id="cancel_edit_button" class="btn btn-primary">Cancel</button>
		</div>
	</form>
</div>